.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex: 1;
  overflow: hidden;
}

.App-Drawer {
  color: white;
  background-color: rgb(20, 20, 20);
  width: 20%;
  max-height: 100%;
  display: flex;
  flex-direction: column;

  .App-Header {
    flex: 1;
  }

  .App-Nav {
    flex: 2;
  }
}

.App-Main {
  flex: 1;
  max-height: 100%;
}

